.gradle/
.idea/
build/
*.iml
*.iws
*.apk
*.ap_
*.class
local.properties

baselibrary/.gradle/
baselibrary/.idea/
baselibrary/build/
baselibrary/*.iml
baselibrary/*/iws
baselibrary/*.apk
baselibrary/*.ap_
baselibrary/*.class
baselibrary/local.properties

app/build
app/.gradle
app/.idea
app/*.iml
app/*.iws
app/*.apk
app/*.ap_
app/*.class
app/local.properties

